html {
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
}

body {
  margin: 20px;
  font-size: 16px;
}

h2,
h3,
h4,
a,
li {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
  list-style: none;
  text-decoration: none;
}

p {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__logo {
  width: 50px;
}
.main__links ul {
  display: flex;
  justify-content: center;
  gap: 80px;
  width: 100%;
}
.main__links ul li a {
  font-size: 0.875em;
  color: #cc1b00;
}
.main__reg {
  display: flex;
  gap: 10px;
}
.main__reg button {
  background-color: #cc1b00;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 15px;
  font-size: 0.625em;
}

.main__carousel {
  margin-top: 50px;
}

.carousel {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
}

.carousel-item {
  width: 100%;
  height: 600px;
}

.item1 {
  background-image: url("../assets/other/pic2.jpg");
}

.item2 {
  background-image: url("../assets/other/pic9.jpg");
}

.item3 {
  background-image: url("../assets/other/pic10.jpg");
}

.item1,
.item2,
.item3 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 30px;
}
.item1 h2,
.item2 h2,
.item3 h2 {
  font-size: 3.125em;
  color: white;
  align-self: flex-end;
}
.item1 button,
.item2 button,
.item3 button {
  align-self: flex-end;
  border: none;
  padding: 8px;
  background-color: #cc1b00;
  border-radius: 25px;
  color: white;
  margin-bottom: 10px;
  cursor: pointer;
}

.main__calendar {
  margin-top: 60px;
}
.main__calendar-btn {
  display: flex;
  justify-content: center;
  gap: 3px;
  padding: 40px;
}
.main__calendar-btn button {
  width: 135px;
  padding: 6px 15px 6px 15px;
  border: none;
  border-radius: 10px;
  background-color: white;
  border: 2px solid #cc1b00;
}
.main__calendar-btn button:hover {
  background-color: #cc1b00;
  color: white;
}
.main__calendar-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.main__calendar-container-img img {
  width: 450px;
  height: auto;
}
.main__calendar-container-desc-1 p {
  color: #646464;
  width: 550px;
}
.main__calendar-container-desc-2 {
  color: #646464;
  margin-top: 50px;
}
.main__calendar-container-desc-2-text1 {
  margin-bottom: -15px;
}
.main__calendar-container-desc-2-text2 {
  padding-right: 100px;
  display: flex;
  justify-content: space-between;
}
.main__calendar-container-desc-2-text2 p:nth-child(2) {
  color: #cc1b00;
  cursor: pointer;
}

.main__online {
  margin-top: 60px;
}
.main__online-container {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.main__online-container-img img {
  width: 450px;
  height: auto;
}
.main__online-container-desc-1 h2 {
  display: flex;
  width: 85%;
}
.main__online-container-desc-2 {
  color: #646464;
  margin-top: 50px;
}
.main__online-container-desc-2-text1 {
  margin-bottom: -15px;
}
.main__online-container-desc-2-text2 {
  padding-right: 100px;
  display: flex;
  justify-content: space-between;
}
.main__online-container-desc-2-text2 p:nth-child(2) {
  color: #cc1b00;
  cursor: pointer;
}

.main__reviews {
  margin-top: 70px;
}

.owl-carousel {
  margin-top: 50px;
}

.owl-carousel-item {
  border-radius: 15px;
  padding: 20px;
  background-color: #cc1b00;
}
.owl-carousel-item-title {
  display: flex;
  align-items: center;
}
.owl-carousel-item-title p {
  align-self: center;
  padding-top: 20px;
}
.owl-carousel-item-title img {
  padding: 20px;
  border-radius: 150px;
  align-self: center;
}
.owl-carousel-item-text {
  background-color: white;
  border-radius: 15px;
}
.owl-carousel-item-text p {
  padding: 10px;
  line-height: 1.2;
}

.owl-prev span,
.owl-next span {
  background-color: #cc1b00;
  padding: 0px 15px 4px 15px;
  font-size: 2em;
  border-radius: 50px;
  color: white;
}

.owl-nav {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 115%;
  left: 90%;
}/*# sourceMappingURL=style.css.map */