.main__online {
  margin-top: 60px;

  &-container {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    gap: 20px;

    &-img {
      img {
        width: 450px;
        height: auto;
      }
    }

    &-desc {
      &-1 {
        h2 {
          display: flex;
          width: 85%;
        }
      }

      &-2 {
        color: $text;
        margin-top: 50px;
        &-text1 {
          margin-bottom: -15px;
        }
        &-text2 {
          padding-right: 100px;
          display: flex;
          justify-content: space-between;
          p:nth-child(2) {
            color: $main-red;
            cursor: pointer;
          }
        }
      }
    }
  }
}
